<div class="mood-select">

  <h1>Select your current mood:</h1>

  <%= form_for @mood do |f| %>

  <p class="members">
    <%= f.label :is_private, "For Members Only: " %>
    <%= f.check_box :is_private %>
  </p>

  <ul class="emotions">
    <li>
      <%= f.radio_button :emotion, "chill" %>
      <%= f.label :emotion, "Chill" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "cool" %>
      <%= f.label :emotion, "Cool" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "drunk" %>
      <%= f.label :emotion, "Drunk" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "funny" %>
      <%= f.label :emotion, "Funny" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "meh" %>
      <%= f.label :emotion, "Meh" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "happy" %>
      <%= f.label :emotion, "Happy" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "awesome" %>
      <%= f.label :emotion, "Awesome" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "amazing" %>
      <%= f.label :emotion, "Amazing" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "excited" %>
      <%= f.label :emotion, "Excited" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "surprised" %>
      <%= f.label :emotion, "Surprised" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "relieved" %>
      <%= f.label :emotion, "Relieved" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "loved" %>
      <%= f.label :emotion, "Loved" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "sad" %>
      <%= f.label :emotion, "Sad" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "bad" %>
      <%= f.label :emotion, "Bad" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "bored" %>
      <%= f.label :emotion, "Bored" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "sick" %>
      <%= f.label :emotion, "Sick" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "tired" %>
      <%= f.label :emotion, "Tired" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "annoyed" %>
      <%= f.label :emotion, "Annoyed" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "hungry" %>
      <%= f.label :emotion, "Hungry" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "confused" %>
      <%= f.label :emotion, "Confused" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "sleepy" %>
      <%= f.label :emotion, "Sleepy" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "sorry" %>
      <%= f.label :emotion, "Sorry" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "pissed" %>
      <%= f.label :emotion, "Pissed" %>
    </li>
    <li>
      <%= f.radio_button :emotion, "lonely" %>
      <%= f.label :emotion, "Lonely" %>
    </li>
  </ul>

  <p class="submit-btn">
    <%= f.submit %>
  </p>
  <% end %>

</div>
