<div class="mood-select">

  <h1>Select your current mood:</h1>

  <%= form_for @mood do |f| %>

  <p class="members">
    <%= f.label :is_private, "For Members Only: " %>
    <%= f.check_box :is_private %>
  </p>

  <ul class="emotions">
    <li>
      <%= f.radio_button :emotion, "chill" %>
      <label for="mood_emotion_chill">Chill</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "cool" %>
      <label for="mood_emotion_cool">Cool</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "drunk" %>
      <label for="mood_emotion_drunk">Drunk</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "funny" %>
      <label for="mood_emotion_funny">Funny</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "meh" %>
      <label for="mood_emotion_meh">Meh</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "happy" %>
      <label for="mood_emotion_happy">Happy</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "awesome" %>
      <label for="mood_emotion_awesome">Awesome</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "amazing" %>
      <label for="mood_emotion_amazing">Amazing</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "excited" %>
      <label for="mood_emotion_excited">Excited</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "surprised" %>
      <label for="mood_emotion_surprised">Surprised</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "relieved" %>
      <label for="mood_emotion_relieved">Relieved</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "loved" %>
      <label for="mood_emotion_loved">Loved</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "sad" %>
      <label for="mood_emotion_sad">Sad</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "bad" %>
      <label for="mood_emotion_bad">Bad</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "bored" %>
      <label for="mood_emotion_bored">Bored</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "sick" %>
      <label for="mood_emotion_sick">Sick</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "tired" %>
      <label for="mood_emotion_tired">Tired</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "annoyed" %>
      <label for="mood_emotion_annoyed">Annoyed</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "hungry" %>
      <label for="mood_emotion_hungry">Hungry</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "confused" %>
      <label for="mood_emotion_confused">Confused</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "sleepy" %>
      <label for="mood_emotion_sleepy">Sleepy</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "sorry" %>
      <label for="mood_emotion_sorry">Sorry</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "pissed" %>
      <label for="mood_emotion_pissed">Pissed</label>
    </li>
    <li>
      <%= f.radio_button :emotion, "lonely" %>
      <label for="mood_emotion_lonely">Lonely</label>
    </li>
  </ul>

  <p class="submit-btn">
    <%= f.submit %>
  </p>
  <% end %>

</div>
