<div class="form">

  <%= form_for(:session, url: login_path) do |f| %>

  <p>
    <%= f.label :username, "Username: " %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password, "Password: " %><br>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Log In" %>

  <% end %>

</div>
