<div class="form-container">
  <div class="form">

    <%= form_for @user do |f| %>

    <p>
      <%= f.text_field :username, :placeholder => 'username' %>
    </p>

    <p>
      <%= f.password_field :password, :placeholder => 'password' %>
    </p>

    <p>
      <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %>
    </p>

    <p>
      <%= f.submit %>
    </p>

    <% end %>

  </div>
</div>
