<%= link_to "BACK TO ALL", moods_path, class: "all_moods" %><br>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :username, "Username: " %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password, "Password: " %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirm Password: " %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
