<%= form_for(:session, url: login_path) do |f| %>

  <p>
    <%= f.label :username, "Username: " %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password, "Password: " %>
    <%= f.text_field :password %>
  </p>

  <%= f.submit "Log In" %>

<% end %>

<p>New user?
  <%= link_to "Sign up", new_user_path %></p>
