<!DOCTYPE html>
<html>
<head>
  <title>Mooooood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="about">
    <span class="close-btn">CLOSE</span>
    <p><strong>MOOOOOOD</strong> is a generative infographic created by its contributors. You can get a sense for how people are feeling at all times of the day.</p>
    <p class="instructions">If you want to contribute, <strong>SIGN UP</strong> for an account and click on the <strong>NEW MOOD</strong> button</p>
  </section>

  <h1 class="logo">MOOOOOOD<span class="about-btn">?</span></h1>

  <%= link_to "BACK TO ALL", moods_path, class: "all_moods" %><br>

  <% if logged_in %>
    <li id="create">
      <%= link_to "NEW MOOD", new_mood_path, class: "new_mood" %>
    </li>
    <li id="logout">
      <%= link_to 'LOG OUT', logout_path, :method => :delete %>
    </li>
    <li>Welcome, <a href="<%= user_path(current_user) %>"><%= current_user.username.capitalize %></a></li>
  <% else %>
    <li id="login">
      <%= link_to "LOG IN", login_path, class: "login" %>
    </li>
    <li><%= link_to "SIGN UP", new_user_path, class: "signup" %></li>
  <% end %>

<%= yield %>

</body>
</html>
