<div class="mood <%= mood.emotion %>" data-hour="<%= mood.created_at.strftime("%H") %>" data-min="<%= mood.created_at.strftime("%M") %>">
  <div class="circle"></div>
  <p><%= mood.user.username.capitalize %> felt <%= mood.emotion %><br>
  <span class="timestamp"><%= time_ago_in_words(mood.created_at) %> ago</span></p>
</div>
