<!DOCTYPE html>
<html>

<head>
  <title>Mooooood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
      <%= csrf_meta_tags %>
      <script src="https://use.typekit.net/dul4ofp.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body class="<%= body_class %>">

  <section id="about">
    <span class="close-btn">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="About" sketch:type="MSArtboardGroup" transform="translate(-1360.000000, -32.000000)" stroke-linecap="square" stroke="#201614" stroke-width="2">
            <g id="Line-+-Line" sketch:type="MSLayerGroup" transform="translate(1361.000000, 33.000000)">
              <path d="M0.5,0.5 L45.754834,45.754834" id="Line" sketch:type="MSShapeGroup"></path>
              <path d="M45.754834,0.5 L0.5,45.754834" id="Line" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </g>
      </svg>
    </span>
    <div class="desc">
      <p>
        <strong>MOOOOOOD</strong> is a generative infographic created by its contributors. View by <strong>TIME</strong> or <strong>LATEST</strong> to get a sense for how people are feeling at all times of the day.</p>
      <p>If you want to contribute,
        <strong>SIGN UP</strong> for an account and click on the
        <strong>NEW MOOD</strong> button</p>
    </div>
  </section>

  <a href="#" class="scroll-top">
    <strong>SCROLL TO TOP</strong>
  </a>

  <h1 class="current-date">
    <strong>
      <%= Date.today.strftime("%b %d %Y") %>
    </strong>
  </h1>

  <section id="content">
    <%= yield %>
  </section>

  <header>
    <div class="logo">
      <span class="about-btn">
        <strong>?</strong>
      </span>
      <h1>
        <a href="<%= root_path %>">
          <strong>MOOOOOOD</strong>
        </a>
      </h1>
    </div>

    <% if logged_in %>
      <li class="create">
        <strong>
          <%= link_to "NEW MOOD", new_mood_path, class: "new_mood" %>
        </strong>
      </li>
      <ul class="userlinks">
        <li class="logout">
          <strong>
            <%= link_to 'LOG OUT', logout_path, :method => :delete %>
          </strong>
        </li>
        <li>
          <strong>
          <a href="<%= user_path(current_user) %>">
              <%= current_user.username.upcase %>
            </strong>
          </a>
        </li>
      </ul>
      <% else %>
        <ul class="userlinks">
          <li class="login">
            <strong>
              <%= link_to "LOG IN", login_path, class: "login" %>
            </strong>
          </li>
          <li class="signup">
            <strong>
              <%= link_to "SIGN UP", new_user_path, class: "signup" %>
            </strong>
          </li>
        </ul>
        <% end %>
  </header>

</body>

</html>
